@font-face {
    font-family: 'Thailandesa';
    src: url('../Fonts/Thailandesa.woff2') format('woff2'),
        url('../Fonts/Thailandesa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

